@import '../../styles/variables';

.advise {
  width: 100%;
  background-image: linear-gradient(329deg, #283b4b, #121c25);

  .wrapper {
    padding: 48px 0;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }

  :global(.h2) {
    color: #fff;
    margin-bottom: 20px;
    font-weight: $font-normal;
  }
}

.button {
  padding: 12px 40px;
}