@import '../../styles/variables';

.roadmap {
  padding: 70px 0;

  @media only screen and (max-width: $mobile-max-width) {
    padding: 0;
  }

  .item {
    display: inline-block;
    vertical-align: top;

    @media only screen and (max-width: $mobile-max-width) {
      display: block;
    }

    .tip {
      margin-bottom: 12px;

      @media only screen and (max-width: $mobile-max-width) {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        transform: translateY(4px);
      }

      &.planning {
        :global {
          .dot {
            width: 14px;
            height: 14px;
            background-color: #ffffff;
            border: solid 3px #55bc8a;
          }

          .line {
            border: dashed 1.5px #adebb5;
          }
        }
      }
    }

    .text {
      position: absolute;
      line-height: 1.71;
      font-family: $font-family-id;

      &.top {
        transform: translateY(-80px);
      }

      @media only screen and (max-width: $mobile-max-width) {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;

        &.top {
          transform: translateY(0);
        }
      }

      @media only screen and (max-width: $mobile-medium-width) {
        padding-bottom: 12px;
      }

      .br {
        @media only screen and (max-width: $mobile-max-width) {
          display: inline-block;
          width: 4px;
        }

        @media only screen and (max-width: $mobile-medium-width) {
          display: block;
        }
      }
    }
  }
}

:global {
  .dot {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #55bc8a;
  }

  .line {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 2px;
    border: solid 1px #adebb5;
  }

  @media only screen and (max-width: $mobile-max-width) {
    .dot {
      display: block;
    }

    .line {
      display: block;
      width: 2px;
      height: 35px;
      margin-left: 5px;
    }
  }

  @media only screen and (max-width: $mobile-medium-width) {
    .line {
      height: 50px;
    }
  }
}
