@import '../../styles/variables';

.list {
  display: inline-block;
}

.item {
  padding-top: 40px;
  text-align: left;

  .name {
    display: inline-block;
    width: 158px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #303e5a;
    vertical-align: top;

    & > img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  .desc {
    display: inline-block;
    width: 760px;
    min-height: 56px;
    margin-left: 42px;
    padding-bottom: 32px;
    border-bottom: solid 1px #cfd9df;
    vertical-align: top;
    color: #485b7f;
  }
}