.wrapper {
  position: fixed;
  bottom: 26px;
  right: 22px;
  width: 354px;
  height: 120px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(40, 19, 254, 0.32);
  background-image: linear-gradient(109deg, #3023ae, #716dd7);
  color: #fff;
  cursor: pointer;

  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #ffffff;
  }

  .desc {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
  }
}

.star {
  position: absolute;
  bottom: 18px;
  right: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  z-index: 2;

  & > svg {
    vertical-align: sub;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120.4px;
  height: 86px;
  object-fit: contain;
  opacity: 0.9;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 134.3px;
  height: 120px;
  object-fit: contain;
  mix-blend-mode: multiply;
}