@import '../../styles/variables';

.lang {
  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.selectControl {
  color: #919aa3;
  font-weight: 500;
}
