@import '../../styles/variables';

.lang {
  margin-top: 20px;
  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }

  a {
    font-size: 12px;
    line-height: 2.5;
    color: #919aa3;

    & + a {
      position: relative;
      margin-left: 10px;

      &::after {
        content: '/';
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translateY(-50%);
      }
    }

    &:hover {
      font-weight: 500;
    }

    &.selected {
      font-weight: 500;
    }
  }
}
