
$font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
$font-family-id: "Proxima Nova";
$font-family-code: 'PT Mono', Monaco, Menlo, Consolas, "Courier New", monospace;

$body-size: 14px;
$size-normal: 14px;
$size-medium: 16px;
$size-large: 28px;

$font-normal: 400;
$font-bold: 600;
$font-thin: 300;

$border-radius: 8px;
$border-radius-sm: 5px;

$transition-speed: .3s;

$green: #55BC8A;
$primary: #55BC8A;
$text-color: #303E5A;
$desc-color: #485b7f;
$border-color: #CFD9DF;

$base-shadow: 0 2px 4px 0 rgba(72, 91, 127, 0.2);

$headings: (h1: 40px, h2: 24px, h3: 16px, h4: 14px);

$header-height: 96px;

$mobile-max-width: 768px;
$mobile-header-height: 56px;