html {
  background-color: rgb(245, 248, 249);
}

body {
  font-family: $font-family;
  font-size: $body-size;
  color: $text-color;
  height: 100%;
  line-height: 1;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
input {
  font-family: $font-family;
}

a {
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $green;
  }
  transition: color $transition-speed ease;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

p {
  line-height: 2;
  color: #485b7f;
}

div {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@each $header, $size in $headings {
  .#{$header} {
    display: block;
    font-size: $size;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
  }
}

::-moz-selection {
  background: #369a6a;
  color: #fff;
}
::selection {
  background: #369a6a;
  color: #fff;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  @media only screen and (max-width: $mobile-max-width) {
    width: 100vw;
    padding: 0 20px;
    overflow: hidden;
  }

  a {
    color: $primary;
  }
}

.tabs {
  list-style: none;
  text-align: center;

  & > li {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #36435c;
    cursor: pointer;

    & + li {
      margin-left: 40px;
    }

    &:hover,
    &.tab-selected {
      color: #4ca986;

      & > a {
        color: #4ca986;
      }
    }

    &.tab-selected::after {
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 0;
      height: 0;
      border-width: 1em;
      border-color: transparent;
      border-style: solid;
      border-bottom-color: #fff;

      @media only screen and (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }
}

.tab-content {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;

  @media only screen and (max-width: $mobile-max-width) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
