.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  color: #36435c;
  border-bottom: 1px solid #ccd3db;
  margin-bottom: 10px;
}

.head {
  position: relative;
  font-size: 16px;
  line-height: 2;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #36435c;
  transition: all 0.2s ease-in-out;

  &.selected,
  &:hover {
    color: #55bc8a;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

:global {
  .level-0 {
    font-weight: 500;
  }
  .level-1 {
    padding-left: 16px;
  }
  .level-2 {
    padding-left: 32px;
  }
  .level-3 {
    padding-left: 48px;
  }
}
