@import '../styles/variables';

.blog-list {
  margin-top: 20px;
}

.blog-item {
  position: relative;
  height: 280px;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgba(7, 42, 68, 0.1);
  background-color: #ffffff;
  overflow: hidden;

  @media only screen and (max-width: $mobile-max-width) {
    height: auto;
    margin-bottom: 20px;
  }

  &-snapshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: #919aa3;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  &-content {
    position: relative;
    padding: 32px 40px;
    padding-right: 200px;
    margin-left: 280px;

    @media only screen and (max-width: $mobile-max-width) {
      margin-left: 0;
      padding: 24px;
    }
  }

  &-time {
    font-size: 14px;
    font-weight: 500;
    color: #919aa3;
    margin-bottom: 12px;
    line-height: 20px;
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 28px;
    & > a {
      color: #4ca986;
    }
  }

  &-author {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #36435c;
    line-height: 20px;

    & > span {
      display: inline-block;
      vertical-align: middle;
    }

    & > svg {
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  &-excerpt {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
    color: #919aa3;
  }

  &-tag {
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    color: #919aa3;
    margin-bottom: 4px;
    border-radius: 4px;
    line-height: 20px;
    background-color: #c7d3dd18;
  }

  &-tag + &-tag {
    margin-left: 8px;
  }

  &-more {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

    @media only screen and (max-width: $mobile-max-width) {
      display: none;
    }

    & > svg {
      width: 64px;
      height: 64px;
      color: #f5f8f9;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #55bc8a;
        & > g {
          & > circle {
            stroke: #74d2a4;
          }
          & > path {
            fill: #fff;
          }
        }
      }
    }
  }

  & + .blog-item {
    margin-top: 12px;
  }
}
