@import '../../styles/variables';

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: solid 1px #e3e9ef;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 100;

  &:global(.header-fixed) {
    position: fixed;
    top: -40px;
  }

  @media only screen and (max-width: $mobile-max-width) {
    position: relative;
    width: 100vw;
    background-color: rgba(245, 248, 249, 0.95);
    z-index: 1000;

    &:global(.header-mobile-fixed) {
      position: fixed;
      top: -40px;
      animation: fadeIn .3s ease-in-out;
    }
    &:global(.header-shadow) {
      box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.06);
    }
  }
}

.logo {
  position: absolute;
  left: 0;
  padding: 32px 0;

  img {
    height: 32px;
  }

  @media only screen and (max-width: $mobile-max-width) {
    padding: 12px 0;
    left: 12px;
  }
}

.wrapper {
  position: relative;
  width: 1160px;
  height: $header-height - 10px;
  margin: 0 auto;
  padding: 0 160px;
  text-align: center;

  @media only screen and (max-width: $mobile-max-width) {
    width: 100%;
    height: $mobile-header-height;
    line-height: $mobile-header-height;
  }
}

.navsWrapper {
  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}

.nav {
  height: $header-height - 10px;

  & > a,
  & > span {
    display: inline-block;
    position: relative;
    color: #242e42;
    font-size: 16px;
    font-family: $font-family-id;
    line-height: $header-height - 10px;
    cursor: pointer;

    @media only screen and (max-width: $mobile-max-width) {
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 48px;
      height: 0px;
      border-radius: 2px;
      background-color: #4ca986;
      transform: translateX(-50%);
      transition: height 0.2s ease-in-out;
    }

    &.selected {
      color: $green;

      &::after {
        height: 4px;
      }
    }

    & + a,
    & + span {
      margin-left: 40px;
      @media only screen and (max-width: $mobile-max-width) {
        margin-left: 0;
      }  
    }
  }

  & > a {
    &:hover {
      color: $green;

      &::after {
        height: 4px;
      }
    }
  }

  .github {
    float: right;
  }

  @media only screen and (max-width: $mobile-max-width) {
    display: block;
    position: fixed;
    top: 50%;
    left: 20px;
    width: calc(100vw - 40px);
    height: auto;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(36, 46, 66, 0.16);
    background-color: #fff;
    z-index: 3;
    transform: translateY(-50%);

    & > span,
    & > a {
      display: block;
      border-radius: 24px;
      line-height: 2;
      padding: 8px;
      text-align: center;

      &:hover,
      &:active {
        color: #fff;
        background-color: #55bc8a;
        font-weight: 600;
      }

      & + a {
        margin: 0;
      }
    }

    .github {
      float: none;
    }
  }
}

.showModal {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;

  @media only screen and (max-width: $mobile-max-width) {
    display: block;
  }
}

:global {
  .v-line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #657d95;

    & + .v-line {
      margin-top: 6px;
    }
  }
}

.right {
  position: absolute;
  right: 0;
  top: 28px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $mobile-max-width) {
    top: 0;
    right: 60px;
  }
}

.menu {
  padding: 12px 0;
  list-style: none;

  & > li {
    min-width: 200px;

    cursor: pointer;
    text-align: center;

    & > a {
      display: block;
      padding: 6px;
      font-size: 14px;
      line-height: 20px;
      color: #36435c;
      transition: all 0.2s ease-in-out;

      &.selected,
      &:hover {
        color: $primary;
      }
    }

    & + li {
      margin-top: 4px;
    }
  }
}

.tip {
  display: block;
  padding: 20px;
  text-align: left;
  line-height: 2;
  color: #36435c;
}

.demo {
  margin-left: 24px;

  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}