@import '../../styles/variables';

.header {
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  background-color: transparent;
}

.logo {
  padding: 32px 0;
  img {
    height: 32px;
  }
}

.wrapper {
  width: 1160px;
  height: $header-height;
  margin: 0 auto;
}

.nav {
  display: inline-block;
  height: $header-height;
  margin-left: 60px;
  vertical-align: top;

  a {
    color: #242e42;
    font-size: 16px;
    font-family: $font-family-id;

    &:hover {
      color: $green;
    }

    & + a {
      margin-left: 48px;
    }
  }
}