@import '../../styles/variables';

.footer {
  width: 100%;
  padding: 118px 0;

  @media only screen and (max-width: $mobile-max-width) { 
    padding: 80px 0 40px 0;
  }

  .wrapper {
    width: 960px;
    margin: 0 auto;

    @media only screen and (max-width: $mobile-max-width) { 
      width: 100%;
      padding: 0 20px;
    }
  }

  .icp {
    padding-top: 48px;
    font-weight: 600;
    font-family: $font-family-id;
    line-height: 1.43;
    letter-spacing: 1.1px;
    color: #242e42;
    text-align: center;
  }

  .logo {
    img {
      height: 32px;
    }
  }

  .links {
    display: inline-block;
    margin-left: 140px;
    font-size: 16px;
    vertical-align: top;

    @media only screen and (max-width: $mobile-max-width) { 
      margin-left: 0px;
      margin-top: 63px;
    }

    & > li {
      display: inline-block;
      vertical-align: top;

      & + li {
        margin-left: 108px;

        @media only screen and (max-width: $mobile-max-width) { 
          margin-left: 0;
          margin-bottom: 19px;
        }
      }

      @media only screen and (max-width: $mobile-max-width) {
        min-width: 30%;
        &:nth-of-type(2n+2) {
          margin-left: 40%;
        }
      }

      & > :global(.h3) {
        font-weight: 600;
        line-height: 1.5;
        color: #171c34;
        margin-bottom: 10px;
      }

      & > a {
        display: block;
        line-height: 2;
        color: #919aa3;
        font-family: $font-family-id;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
