@import '../../styles/variables';

.footer {
  width: 100%;
  padding: 118px 0;

  @media only screen and (max-width: $mobile-max-width) {
    padding: 80px 0 40px 0;
  }

  .wrapper {
    width: 1160px;
    margin: 0 auto;

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
      padding: 0 20px;
    }
  }

  .beian,
  .icp {
    padding-top: 8px;
    font-weight: 600;
    font-family: $font-family-id;
    line-height: 1.43;
    letter-spacing: 1.1px;
    color: #242e42;
    text-align: center;
  }

  .logo {
    img {
      height: 32px;
    }
  }

  .links {
    display: inline-block;
    margin-left: 80px;
    font-size: 16px;
    vertical-align: top;
    width: calc(100% - 440px);

    @media only screen and (max-width: $mobile-max-width) {
      width: auto;
      margin-left: 0px;
      margin-top: 63px;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;

      @media only screen and (max-width: $mobile-max-width) {
        justify-content: start;
      }

      & > li {
        margin-right: 32px;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0;
        }

        & > :global(.h3) {
          font-weight: 600;
          line-height: 1.5;
          color: #171c34;
          margin-bottom: 10px;
        }

        & > a {
          display: block;
          line-height: 2;
          color: #919aa3;
          font-family: $font-family-id;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.logos {
  margin-top: 40px;
  text-align: center;

  svg {
    width: 32px;
    height: 32px;
    color: #b6c2cd;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 8px;
  }

  .wechat {
    &:hover {
      color: #50b674;
    }
  }

  .youtube {
    &:hover {
      color: #dd1829;
    }
  }
}

.tooltip {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #919aa3;

  img {
    margin-top: 6px;
  }

  small {
    display: block;
  }
}

.description {
  margin-top: 24px;
  width: 360px;
  font-size: 16px;
  line-height: 2;
  color: #919aa3;
}

.subscribe {
  display: none;
  margin-top: 16px;
}
