.card {
  width: 112px;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: #fff;

  .title {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #303e5a;
    line-height: 17px;
  }

  & > p {
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    color: #657d95;
  }
}
