@import '../styles/variables';

.main {
  padding-top: 96px;
}

.bg1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}

.bg2 {
  position: absolute;
  top: 763px;
  left: 0;
  z-index: -1;

  @media only screen and (max-width: $mobile-max-width) {
    top: 46px;
    height: 181px;
  }
}

.header-shadow {
  opacity: 0.96;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  background-color: #f5f8f9 !important;
  border-color: transparent !important;
}