@import '../styles/variables';

.bg1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}

.bg2 {
  position: absolute;
  top: 763px;
  left: 0;
  z-index: -1;

  @media only screen and (max-width: $mobile-max-width) {
    top: 46px;
    height: 181px;
  }
}

.header-shadow {
  opacity: 0.96;
  box-shadow: 0 4px 8px 0 rgba(36, 46, 66, 0.2);
  background-color: #f5f8f9 !important;
  border-color: transparent !important;
}

.tippy-tooltip.light-theme {
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  color: #26323d;
  box-shadow: 0 10px 30px 0 rgba(7, 42, 68, 0.1);
  border-radius: 2px;
  background-color: #fff;
}
.tippy-tooltip.light-theme[x-placement^='top'] .tippy-arrow {
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^='bottom'] .tippy-arrow {
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^='left'] .tippy-arrow {
  border-left: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme[x-placement^='right'] .tippy-arrow {
  border-right: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff;
}
.tippy-tooltip.light-theme[data-animatefill] {
  background-color: initial;
}

[tabindex] {
  outline: none;
}
