@import '../../../styles/variables';

.card {
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all $transition-speed ease;
  text-align: left;

  @media only screen and (max-width: $mobile-max-width) {
    padding: 28px 20px;
  }

  &:hover {
    box-shadow: 0 4px 15px 0 rgba(7, 42, 68, 0.1);
  }

  .title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: #171c34;

    & > img {
      width: 28px;
      height: 28px;
      margin-right: 12px;
      vertical-align: text-top;
    }

    @media only screen and (max-width: $mobile-max-width) {
      margin-bottom: 20px;
    }
  }

  .content {
    padding-left: 40px;

    @media only screen and (max-width: $mobile-max-width) {
      padding: 0;
    }
  }

  & + .card {
    margin-top: 24px;
  }
}